.flex {
  display: flex;
}

.total {
  height: calc(100% - 340rpx);
  flex-direction: column;

  .calendar {
    height: max-content;
  }

  .content {
    flex: 1;
    height: 100%;
    // background-color: red;
  }

  .empty {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .image {
      width: 240rpx;
      height: 240rpx;
      background-color: skyblue;
    }
  }
}

.page-wrapper {
  height: 100vh;
}