// 主题色
@primary-color: #5b67ca;
//
@primary-padding: 16rpx;

@primary-bg-color: #ffffff;

@primary-margin: 16rpx 0;
//  保持和 vant 一致的边距
@primary-theme-padding: 20rpx 24rpx;

@page-bg-color: #f5f5f5;
// 页面的高度，通过计算获得
@primary-screen-height: calc(100vh - 32rpx);

@primary-hover-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
  0 2px 4px -2px rgb(0 0 0 / 0.1);

@primary-card-min-height: 200rpx;
@primary-radius: 16rpx;
// 字体尺寸
@size-10: 20rpx;
@line-h-10: 24rpx;
@size-12: 24rpx;
@line-h-12: 28rpx;
@size-14: 28rpx;
@line-h-14: 44rpx;
@size-16: 32rpx;
@line-h-16: 48rpx;
@size-20: 40rpx;
@line-h-20: 64rpx;
// 距离
@base-size: 10rpx;
@text-2-color: #94a3b8;
@text-header-color: #3f3f46;
