@import "../../style/index.less";

.page {
  min-height: 100vh;
  transition: height 0.28s;
  position: relative;

  // background-color: @page-bg-color;

  .user-card {
    // height: 160rpx;
    color: white;
    margin: @primary-theme-padding;
    border-radius: @primary-radius;
    padding: @base-size * 2;

    background-image: url("https://image.meiye.art/pic_cXBNdpESiW-rE35DNkFh_?imageMogr2/thumbnail/450x/interlace/1");
    background-size: cover;

    position: relative;
    z-index: 2;

    .wrapper {
      position: relative;
      z-index: 4;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom: @base-size * 2;

        .content {
          text {
            font-size: 36rpx;
            line-height: 56rpx;
          }
        }

        .actions {
          image {
            width: 54rpx;
            height: 54rpx;
            vertical-align: middle;
          }
        }
      }

      .bottom {
        text {
          font-size: @size-12;
          line-height: @line-h-12;
          // color: @primary-second-text-color;
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(#000, 0.55);
      z-index: 1;
      border-radius: @primary-radius;
    }
  }

  .action-header {
    margin: @base-size @base-size* 2.4;

    text {
      font-weight: 600;
      line-height: @line-h-16;
      font-size: @size-16;
      font-family: "思源黑体";
      color: @text-header-color;
    }
  }

  .action {
    padding: @primary-theme-padding;

    column-count: 2;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 0 @base-size * 2 0;
      border-radius: @primary-radius * 2;

      image {
        width: 80rpx;
        height: 80rpx;
      }

      text {
        display: block;
        margin-top: @base-size * 2;
        // color: @primary-second-text-color;
        color: white;
        font-size: @size-12;
        line-height: @line-h-14;
        letter-spacing: 1.2px;
      }

      &:hover {
        background-color: #f4f4f5;
        border-radius: @primary-radius * 2;
      }
    }
  }

  .today {
    margin-top: @base-size * 2;
    padding: @primary-theme-padding;
    padding-top: 0;

    .title {
      display: flex;
      align-items: center;

      .content {
        color: @text-header-color;
        line-height: @line-h-16;
        font-weight: 600;
        margin-right: @base-size * 0.6;
      }

      .week {
        font-size: @size-12;
        color: @primary-second-text-color;
      }

      .show {
        margin-left: @base-size * 2;
      }
    }

    .days-wrapper {
      margin-top: @base-size;
      background-color: #fff;

      .days {
        display: flex;
        justify-content: space-between;

        .day {
          text-align: center;
          padding: @base-size;
          border-radius: @primary-radius;

          .w {
            display: block;
            font-size: @size-12;
            color: #9ca3af;
          }

          .d {
            display: block;
            font-size: @size-12;
            margin-top: @base-size * 0.8;
          }
        }

        .checked {
          background-color: @primary-second-color;
          color: white !important;

          .w {
            color: white !important;
          }
        }
      }
    }
  }

  .detail-wrapper {
    padding: @primary-theme-padding;
  }

  .add {
    position: absolute;
    right: @base-size * 6;
    bottom: @base-size * 8;

    image {
      width: 90rpx;
      height: 90rpx;
    }
  }

  .empty {
    .van-empty__image {
      // width: 250px;
      height: 188px;
      margin-bottom: @base-size * 2;
    }
  }
}

.high-day {
  background-color: @primary-second-color;
  color: white;

  .w {
    color: white;
  }
}

.operation {

  height: calc(100% - @base-size * 0);
  display: flex;
  align-items: center;

  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: @base-size * 2;
    justify-content: center;
    background-color: @page-bg-color;
    border-radius: @primary-radius;

    image {
      width: 48rpx;
      height: 48rpx;
      vertical-align: middle;
    }

    &.finish {
      background-color: @primary-success-color;
    }

    &:not(:last-child) {
      margin-right: @base-size;
    }

    &.flag {
      background-color: #FFAA00;
    }

    &.clock {
      background-color: #3DB6FC;
    }
  }

}