@import "../../style/index.less";
.page-wrapper {
  min-height: 100vh;

  .loading {
    height: calc(100vh - 180rpx);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content {
    //  不给一个 统一的margin了
    background-color: @page-bg-color;
    height: 100%;
    background-color: #fff;
  }
}
