@import "../../style/index.less";

.page-wrapper {
  min-height: 100vh;

  .loading {
    height: calc(100vh - 180rpx);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    //  不给一个 统一的margin了
    background-color: @page-bg-color;
    height: 100vh;

    .header {
      margin: @base-size * 2 0;
      padding: @primary-padding;
      background-color: #fff;
      display: flex;
      // align-items: center;

      .avatar {
        image {
          width: 128rpx;
          height: 128rpx;
          border-radius: 6px;
        }

        margin-right: @base-size * 2;
      }

      .info {

        .up {
          margin-bottom: @base-size;

          label {
            color: @primary-second-text-color;
            font-size: @size-14;
            margin-right: @base-size ;
          }

          text {
            color: @text-header-color;
            letter-spacing: 0.07px;
          }
        }
      }
    }
  }
}