@import "../../style/index.less";
.login-wrapper {
  height: 100vh;
  background-color: @page-bg-color;
  .nav-title {
    color: @text-header-color;
    letter-spacing: 2rpx;
  }
  display: flex;
  flex-direction: column;

  .content {
    padding-top: 2vh;
    .header {
      padding: 0 @base-size * 6;
      text {
        font-size: @size-20;
        line-height: @line-h-20;
        color: @text-header-color;
        letter-spacing: 1rpx;
      }
      .strong {
        margin-left: @base-size * 2;
        font-weight: 700;
      }
    }
    .desc {
      padding: 0 @base-size * 6;
      margin-top: @base-size * 2;
      text {
        font-size: @size-14;
        color: @primary-second-text-color;
      }
    }
    .image {
      padding: 0 @base-size * 6;
      margin-top: 2vh;
      image {
        object-fit: cover;
        width: 100%;
        height: 756rpx;
        border-radius: @base-size;
      }
    }
    .operation {
      padding: 0 @base-size * 6;
      margin-top: 7vh;
      .my-submit {
        width: 100%;
        min-width: 240rpx;
        border-radius: 12rpx;
        letter-spacing: 0.7rpx;
      }
    }
  }
}
