@import "../../style/index.less";
.page {
  min-height: 100vh;
  background-color: @page-bg-color;
  .my-switch {
    vertical-align: middle;
  }
  .header {
    display: flex;
    justify-content: space-between;
    background-color: @primary-color;
    padding: 24rpx 44rpx;
    color: white;
    min-height: 16vh;
    padding-bottom: 8vh;
    align-items: center;
    .right {
      image {
        width: 128rpx;
        height: 128rpx;
        vertical-align: middle;
        border: 2rpx solid #eeeeee;
        border-radius: 50%;
      }
    }
    .left {
      .name {
        font-size: @size-20;
        line-height: @line-h-20;
        margin-bottom: @base-size*2;
      }
      .mark {
        text {
          color: @primary-second-text-color;
        }
      }
    }
  }
  .vip {
    height: 120rpx;
    padding: @base-size * 2.4;
    background-image: url("https://www.utasknow.xyz/public/user/vip.png");
    background-size: cover;
    margin: @primary-theme-padding;
    color: @text-header-color;
    border-radius: @primary-radius * 2;
    font-family: "思源黑体";
    background-color: #fff;
    .content {
      text {
        font-size: @size-16;
        line-height: @line-h-16;
        font-weight: 500;
      }
    }
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin-top: -80rpx;
    .desc {
      text {
        font-size: @size-12;
        line-height: @line-h-12;
      }
    }
  }
  .content-wrapper {
    margin: @primary-theme-padding;
    background-color: #fff;
    padding: @base-size * 2;
    border-radius: @primary-radius * 2;

    .icon {
      image {
        width: @line-h-16;
        height: @line-h-16;
        vertical-align: middle;
      }
      margin-right: @base-size * 1.6;
    }
    .title {
      text {
        color: @size-16;
        line-height: @line-h-16;
      }
    }
  }
  .van-cell {
    padding: 16rpx 10rpx;
  }
}
