@import "../../style/index.less";

.nav-title {
  // color: @text-header-color;
  color: white;
}

.user-page {
  height: 100vh;

  //  背景色 面板
  .bg {
    width: 100%;
    height: 400rpx;
    background-color: rgba(@primary-color, 0.9);
    margin-top: -180rpx;
    display: flex;
    // justify-content: flex-end;
    align-items: flex-end;
    padding: 0 0 @base-size * 4 @base-size * 4;
    .wrapper {
      image {
        width: 120rpx;
        height: 120rpx;
        border-radius: 16rpx;
        object-fit: cover;
      }
    }
    .username {
      height: 118rpx;
      margin-left: @base-size * 3;
      font-size: @size-20;
      // line-height: 108rpx;
      color: @text-header-color;
      .label {
        padding-top: @base-size;
      }
    }
  }
  .action-wrapper {
    padding: @primary-theme-padding;
    background-color: @page-bg-color;
  }
  // van -操作栏
  .extal {
    display: flex;
    flex-direction: column;
    align-items: center;
    image {
      height: 32px;
      width: 32px;
    }
    text {
      display: block;
      font-size: @size-14;
      line-height: @line-h-14;
      margin-top: @base-size * 2.5;
      color: @primary-text-color;
    }
  }
}
