.hight-card {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.selected {
  .name {
    text {
      color: gray;
      text-decoration: line-through;
    }
  }
}

.card {
  border-radius: 16rpx;
  padding: 16rpx;
  margin: 16rpx 24rpx;
  background-color: #fff;
  min-height: 120rpx;
  display: flex;

  .select {
    margin-right: 16rpx;
    padding: 12rpx 0;
    padding-left: 16rpx;
  }

  .wrapper {
    padding-right: 20rpx;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .header {

      display: flex;
      justify-content: space-between;

      .content {
        display: flex;
        align-items: center;

        text {
          font-size: 32rpx;
        }

        .time {
          margin-left: 16rpx;
        }

      }

      .action {
        image {
          width: 48rpx;
          height: 10rpx;
        }
      }

      margin-bottom: 16rpx;
    }

    .label {
      display: flex;
      justify-content: space-between;

      .left {
        .my-tag {
          margin-right: 16rpx;
        }
      }
    }
  }

  .desc {
    min-height: 44rpx;
    margin-bottom: 12rpx;

    text {
      font-size: 28rpx;
      line-height: 44rpx;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #94a3b8;
    }
  }
}