@import "../../style/index.less";

.wrapper {
  //  卡片 主要内容
  border-radius: 8rpx;
  background-color: @primary-bg-color;
  padding: @primary-padding;
  margin: @primary-margin;
  // min-height: @primary-card-min-height;
  position: relative;

  .header {
    display: flex;
    align-items: center;
    .select {
      margin-right: @base-size;
    }
    .left {
      display: flex;
      align-items: center;
      position: relative;

      .content {
        width: 70vw;
        // text-overflow: -o-ellipsis-lastline;
        overflow: hidden; //溢出内容隐藏
        white-space: nowrap;
        text-overflow: ellipsis; //文本溢出部分用省略号表示

        // display: -webkit-box; //特别显示模式
        // -webkit-line-clamp: 2; //行数
        // line-clamp: 2;

        text {
          // color: @text-header-color;
          // font-weight: 700;
          // font-size: @size-20;
          line-height: @line-h-16;
          letter-spacing: 1rpx;
        }
      }
    }

    .right {
      .time {
        display: flex;
        align-items: flex-end;

        // align-self: start;
        .start {
          letter-spacing: 2rpx;

          text {
            font-size: @size-20 !important;
            // line-height: @line-h-20 !important;
          }
        }
      }

      .ruixin {
        background-color: @primary-color;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 0 8rpx 0 8rpx;
        color: white;
        font-size: @size-12;
        line-height: @line-h-12;
        padding: 4rpx 8rpx;
      }
    }
    margin: @base-size 0 @base-size * 3 0;
  }

  .icon {
    margin-right: @base-size;

    image {
      width: 60rpx;
      height: 60rpx;
    }
  }

  .action {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .time-circle {
      display: flex;
      align-items: center;
      .days {
        margin-left: @base-size;
        .number {
          color: @text-header-color;
        }
        .day {
          color: @primary-second-text-color;
          font-size: @size-14;
        }
      }
    }
    .type {
      image {
        width: 48rpx;
        height: 48rpx;
        border-radius: 50%;
      }
    }
  }
}

.selected,
.high {
  box-shadow: @primary-hover-shadow;
}
