@import "../../style/index.less";
.wrapper {
  padding: @base-size;
  display: flex;
  align-items: center;
  margin-bottom: @base-size * 2;
  border-radius: @primary-radius;
  .index {
    width: 22rpx;
    margin-right: @base-size* 4;
    text-align: center;
    text {
      color: @primary-second-text-color;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-size: 18px;
    }
  }
  .left {
    width: 64rpx;
    height: 64rpx;
    background-size: 100% 100%;
    margin-right: @base-size * 2;
    text-align: center;
    text {
      line-height: 64rpx;
      color: @primary-second-text-color;
    }
  }
  .icon {
    // margin: 0 @base-size;
    text-align: center;
    image {
      width: 36rpx;
      height: 36rpx;
      vertical-align: middle;
      border-radius: 8rpx;
    }
    margin-right: @base-size * 2;
    .cycle {
      width: 44rpx !important;
      height: 44rpx !important;
      margin-left: -4rpx;
    }
  }
  .center {
    flex: 1;

    .content {
      margin-bottom: @base-size;
      width: 70%;
      text {
        color: @text-header-color;
        font-size: @size-14;
        line-height: @line-h-14;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .info {
      display: flex;
      align-items: center;
      .type,
      .level {
        margin-right: @base-size;
      }
    }
  }
  .right {
    width: 48rpx;
  }
}
.high {
  background-color: rgba(@page-bg-color, 0.55);
}
