@import "../../style/index.less";

.user {
    display: flex;
    align-items: center;

    image {
        width: 48rpx;
        height: 48rpx;
        border-radius: 50%;
        margin-right: @base-size;
    }
}

.page-wrapper {
    // 留着， 先不动样式
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .height {
        // flex: 1;
        height: calc(100vh - 388rpx);
        // background-color: red;
    }
}