@import "../../style/index.less";

.user {
  display: flex;
  align-items: center;

  image {
    width: 48rpx;
    height: 48rpx;
    border-radius: 8rpx;
    margin-right: @base-size * 2;
  }
  .name {
    color: white;
  }
}

.page-wrapper {
  // 留着， 先不动样式
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .today {
    flex: 1;
    padding: @primary-theme-padding;
    // background-color: @page-bg-color;
    .header {
      margin-bottom: @base-size * 2;
      color: @text-header-color;
      text {
        color: @text-header-color;
      }
    }
  }
  .action-wrapper {
    margin: @base-size * 2 0;
    min-height: 360rpx;
    .item {
      border-radius: @base-size;
      padding: @primary-padding;
      margin: 0 @base-size * 2;
      display: flex;
      align-items: center;
      border-radius: 8rpx;
      image {
        width: 44rpx;
        height: 44rpx;
      }
      .content {
        display: flex;
        margin-left: @base-size * 2;
        align-items: center;
        text {
          color: @text-header-color;
          font-size: @size-16;
          line-height: @line-h-16;
          letter-spacing: 0.5px;
          margin-right: @base-size * 2;
        }
      }
      .seted {
        text {
          font-size: @size-14;
          color: @primary-second-text-color;
        }
      }
    }
    .high {
      background-color: @page-bg-color;
    }
  }
}

.operation-wrapper {
  padding: @base-size * 2 0;
  background-color: @page-bg-color;
  // background-color: skyblue;
}
// van -操作栏
.extal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff00;
  image {
    height: 32px;
    width: 32px;
  }
  text {
    display: block;
    font-size: @size-14;
    line-height: @line-h-14;
    margin-top: @base-size * 2.5;
    color: @primary-text-color;
  }
}
.white-input {
  .van-search__content {
    background-color: #fff;
  }
}
